.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  color: rgb(240, 238, 238);
  text-align: center;
  background-image: url("https://designcontest-co-nz-designcontest.netdna-ssl.com/data/contests/4838/entries/big_HJwfAdU3j.png");
  background-repeat: no-repeat;
}

.logo-name {
  color: white;
  font-size: larger;
  width: 40%;
  height: inherit;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: inherit;
}

.avatar {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  height: inherit;
}
